@model List<Oefening4.Models.Location>
@{
}
<h1>Index</h1>
<br />
<a asp-action="Create">Create New</a>

<table class="table table-primary">
	<thead>
		<tr>
			<th>LocationId</th>
			<th>PostCode</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var location in Model)
		{
			<tr>
				<td>@location.LocationID</td>
				<td>@location.PostCode</td>
				<td>@location.City</td>
				<td>
					<a asp-action="Edit" asp-route-id="@location.LocationID">Edit</a> |
					<a asp-action="Details" asp-route-id="@location.LocationID">Details</a> |
					<a asp-action="Delete" asp-route-id="@location.LocationID">Delete</a>
				</td>
			</tr>
		}
	</tbody>


</table>